################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GaleShockTrooperWWISE/GeneratedSoundBanks
/Build
/CommissionInfo
/Assets/Blend/ShockTrooperFinal.blend1
